<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <ul class="contact-list">
            <li class="p-name">
                All usage subject to <a href="terms-and-conditions.html">terms and conditions</a>.
              </li>
              {%- if site.email -%}
              <li>
                  Email : <a class="u-email black-link" href="mailto:{{ site.email }}">{{ site.email }}</a> - Telegram: <a class="black-link" href="https://t.me/hodl_farm"><img src="/assets/img/t_logo.png" class="telegram-icon"/>t.me/hodl_farm</a></li>
              {%- endif -%}
          </ul>
        </div>
      </div>
    </div>
  </footer>
